.path-abyss #columns-wrapper table td .abyss-quarter .field-suffix,
.path-abyss #columns-wrapper table td .abyss-quarter .field-prefix {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  width: 16px;
  padding: 3px 3px;
  cursor: pointer;
}

.path-abyss #main-wrapper {
  width: 100%;
  max-width: 100%;
  padding: 15px;
}
.path-abyss #content {
  margin: 0;
  width: 100%;
}
.path-abyss #content .section {
  padding: 0;
}
.path-abyss #sidebar-first {
  display: none;
}
.path-abyss #columns-wrapper {
  padding: 15px;
}
.path-abyss #columns-wrapper table {
  width: 100%;
  margin-bottom: 1rem;
  color: #343a40;
}
.path-abyss #columns-wrapper table th {
  text-align: center;
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  padding: 0.75rem;
}
.path-abyss #columns-wrapper table td {
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  padding: 12px 3px;
}
.path-abyss #columns-wrapper table td:first-child {
  text-align: center;
}
.path-abyss #columns-wrapper table td .abyss-quarter {
  display: flex;
  width: 80px;
  margin: auto;
}
.path-abyss #columns-wrapper table td .abyss-quarter .field-prefix {
  margin-right: -1px;
}
.path-abyss #columns-wrapper table td .abyss-quarter .field-suffix {
  margin-left: -1px;
  font-size: 10px;
}
.path-abyss #columns-wrapper table input {
  text-align: center;
  padding: 4px 0;
  width: 100%;
}
.path-abyss #columns-wrapper table input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}
.path-abyss #columns-wrapper table input[type=number]::-webkit-outer-spin-button,
.path-abyss #columns-wrapper table input[type=number]::-webkit-inner-spin-button {
  display: none;
}
.path-abyss #columns-wrapper .abyss-table-element {
  width: 90px;
}
.path-abyss #columns-wrapper .abyss-quarter .number-minus {
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  width: 20px;
  padding: 0;
  display: block;
  text-align: center;
  border: none;
  border-right: 1px solid #ddd;
  font-size: 16px;
  font-weight: 600;
}
.path-abyss #columns-wrapper .abyss-quarter .number-plus {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  width: 20px;
  padding: 0;
  display: block;
  text-align: center;
  border: none;
  border-left: 1px solid #ddd;
  font-size: 16px;
  font-weight: 600;
}
.path-abyss #columns-wrapper .abyss-quarter .input-group {
  display: flex;
}
.path-abyss #columns-wrapper .abyss-quarter .input-group-prepend {
  margin-right: -1px;
}
.path-abyss #columns-wrapper .abyss-quarter .input-group-append {
  margin-left: -1px;
}
.path-abyss #columns-wrapper .abyss-quarter .input-group-text {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.path-abyss #columns-wrapper .abyss-quarter .input-group .field-prefix {
  width: 0px;
  padding: 3px 6px;
  cursor: pointer;
}
.path-abyss #columns-wrapper .abyss-quarter .input-group .field-suffix {
  width: 16px;
  padding: 3px 3px;
  cursor: pointer;
}

/*# sourceMappingURL=abyss.css.map */
